<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes }}>

    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <div id="cookiepolicy" class="portalMessage">
      <h1>Este Sitio web utiliza cookies</h1>
        <p id="cookiepolicy_message">Utilizamos cookies para almacenar algunas preferencias de usuario como la cesta de compra. No utilizamos cookies externas de analysis de datos del sitio web. Puedes borrar o desabilitar estas cookies desde las preferencias de tu navegador,en ese caso puede ser que el sitio no funcione correctamente.</p>
          <div id="cookiepolicy_form">
            <a id="submit_button_cookie" class="btn" value="hide">De Acuerdo</a>
          </div>
    </div>
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
