<article{{ attributes }}>
  <div class="post post-list-item row">
      <div class="col-md-4 post-thumb">
        <a href="{{ url }}"><img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="" /></a>
      </div>
      <div class="col-md-8 post-content">
        <div class="entry-meta">
          <span class="posted-on">
            <i class="fa fa-clock-o"></i>{{ date }}
          </span>
          <span class="categories-links">
            <i class="fa fa-folder-open-o"></i>{{ content.field_blog_category }}
          </span>
          <!--  <span class="comment-counts"> <i class="fa fa-comments"></i> 4 </span>-->
        </div>
        <div class="entry-header">
          {% if not page %}
            <h2 class="entry-title"><a href="{{ url }}" rel="bookmark">{{ label }}</a>
            </h2>
          {% endif %}
        </div>
        <div class="entry-content">{{ content.body }}
          <a href="{{ url }}" class="read-more">leer m&aacute;s<i class="fa fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
</article>
