<article{{ attributes }}>
<div class="post post-full-item">
    <div class="post-thumb">
        <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="" />
      <div class="entry-meta">
        <span class="posted-on">
          <i class="fa fa-clock-o"></i>{{ date }}
        </span>
        <span class="categories-links">
          <i class="fa fa-folder-open-o"></i>
          <a href="#">{{ content.field_blog_category }}</a>
        </span>
        <!-- <span class="comment-counts"> <i class="fa fa-comments"></i> 0 </span> -->
      </div>
    </div>
    <div class="entry-header">
      <h2 class="entry-title">
              <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    </div>
    <div class="entry-content">
        {{ content.body }}
      <div class="post-share-buttons">
        <span>Compartir</span>
        <a title="Compartir en Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url('entity.node.canonical', {'node': node.id}) }}" target="_blank"><i class="fa fa-facebook"></i></a>
        <a title="Compartir en twitter" href="https://twitter.com/home?status={{ url('entity.node.canonical', {'node': node.id}) }}" target="_blank"><i class="fa fa-twitter"></i></a>
        <a title="Compartir en google plus" href="https://plus.google.com/share?url={{ url('entity.node.canonical', {'node': node.id}) }}"><i class="fa fa-google-plus"></i></a>
      </div>
    </div>
  </div>
</article>
