{% set titulo = product.title %}
<div class="col-sm-6 col-md-4 product">
  <div class="product-thumb">
    <a href="{{ product_url }}" class="product-thumb_link">
      <img src="{{ file_url(product.field_images['#items'].entity.uri.value) }}" alt="" />
    </a>
    {% if product.variations %}
      <div class="cart-button">{{ product.variations }}</div>
    {% endif %}
    

  </div>
  <h3><a href="{{ product_url }}" title="Detalle de {# titulo #}" class="product-title">{{ titulo }}</a></h3>
    {% if oferta %}
    <div class="container">
        <div class="price-oferta row">
            <span class="col amount">{{ product.variation_price }}</span>
            <span class="col oferta">{{ product.variation_list_price }}</span>
        </div>
      </div>
    {% else %}
         <div class="price">
            <span class="amount">{{ product.variation_price }}</span>
        </div>
    {% endif %}
</div>
