<div{{ attributes }}>
    {{ title_prefix }}
    <div class="container">
        <div class="row">
            {% if label %}
                <h2{{ title_attributes.addClass('title') }}>{{ label }}</h2>
            {% endif %}
            {{ title_suffix }}
            {% if content %}
                {{ content }}
            {% endif %}
        </div>
    </div>
</div>

